body {
	background-position: center center;
	background-color: #CC8099;
}

.jumbotron h2 {
	padding: 8px;
	background-color: grey;
	color: white;
	text-align: center;
}

body {
	background-position: center center;
	background-color: #CC8099;
}

.jumbotron h1 {
	padding: 10px;
	background-color: grey;
	color: #FF3399;
	text-align: center;
}

.jumbotron {
    margin-bottom: 10px;
    background-image: url(../images/paws.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

h2 {
	text-align: center;
}

.cover img {
	vertical-align: center;
}

p {
	text-align: center;
	font-style: italic;
}

.row1 {
	padding: 10px;
	border-style: solid;
}

.cover h2 {
	text-align: left;
	vertical-align: left;
}

.form2 {
	padding: 20px;
}

.form p {
	font-size: 30px;
}

.form {
	background-color: #CCFF99;
	padding: 10px;
}